/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import "./loader.scss";

.table-notification,
.table-notification > th,
.table-notification > td {
  background-color: #293552;
}

// custom radio buttons
.radio-active:checked,
.radio-active:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-active:checked + .label-active,
.radio-active:not(:checked) + .label-active
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio-active:checked + .label-active:before,
.radio-active:checked + .label-active:after,
:not(:checked) + .label-active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.radio-active:checked + .label-active:after,
.radio-active:checked + .label-active:after,
:not(:checked) + .label-active:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #39DA8A;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-active:checked + .label-active:after,
:not(:checked) + .label-active:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-active:checked + .label-active:after,
:checked + label.label-active:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// custom image upload input
.avatar-upload {
	position: relative;
	max-width: 205px;
	margin: 50px auto;
	.avatar-edit {
			position: absolute;
			right: 12px;
			z-index: 1;
			top: 10px;
			input {
					display: none;
					+ label {
							display: inline-block;
							width: 34px;
							height: 34px;
							margin-bottom: 0;
							border-radius: 100%;
							background: #FFFFFF;
							border: 1px solid transparent;
							box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
							cursor: pointer;
							font-weight: normal;
							transition: all .2s ease-in-out;
							&:hover {
									background: #f1f1f1;
									border-color: #d6d6d6;
							}
							& .edit-icon {
									position: absolute;
									top: 10px;
									left: 0;
									right: 0;
									text-align: center;
									margin: auto;
							}
					}
			}
	}
	.avatar-preview {
			width: 192px;
			height: 192px;
			position: relative;
			border-radius: 100%;
			border: 6px solid #F8F8F8;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
			> div {
					width: 100%;
					height: 100%;
					border-radius: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
			}
	}
}

.quesitonImage-preview {
  margin: 0 auto;
  width: 70%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

	button {
		position: absolute;
		top: 15px;
		right: 10px;
		padding: 0 3px 0 3px;

		i {
			top: 0;
		}
	}
}

.answerImage-preview {
  margin: 0 auto;
  width: 70%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

	button {
		position: absolute;
		top: 15px;
		right: 10px;
		padding: 0 3px 0 3px;

		i {
			top: 0;
		}
	}
}

.taskImage-preview {
  margin: 0 auto;
  width: 70%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

	button {
		position: absolute;
		top: 15px;
		right: 10px;
		padding: 0 3px 0 3px;

		i {
			top: 0;
		}
	}
}